body{
font-family: Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif ;
background: rgb(36, 230, 159);
}
.header_div{
    background: rgb(0, 255, 238);
    color: rgb(136, 0, 255);
}
.header_div p{
    font-family: fantasy;
    color: rgb(255, 0, 89);
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}
.main_div button{
    font-family: cursive;
    letter-spacing: 3px;
    font-size: 15px;
    font-weight: bolder;
    width: 130px;
}
.copy_right_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    line-height: 3;
    text-align: center;
    text-decoration: wavy;
    text-shadow: 5px 5px 5px rgb(150, 42, 152);
    background: rgb(0, 255, 238);
    color: rgb(255, 0, 247);
}